#anim_container{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100px;
}

#wire{
	width: 1px;
	height: 200px;
	background-color: white;
	position: relative;
	filter: blur(3px);
	box-shadow: 0 0 10px white;
}

#wire_signal{
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: white;
	animation: 5s effect infinite;
	filter: blur(5px);
	box-shadow: 0 0 30px white;
}

#serveur_img
{
    width: 150px;
    height: 100px;
    transform: translateX(-50%);
}

@keyframes effect{
	0%
	{
		transform: translate(-50%, 0);
	}
	50%
	{
		transform: translate(-50%, 200px);
	}
	100%
	{
		transform: translate(-50%, 0);
	}
}