p
{
    color: #ffffff85;
    margin-bottom: 7px;
}

#page
{
    display: none;
    transition: all 1s;
}

#page h3
{
    margin: 0;
    text-align: center;
    color: #a0a0a08c;
    font-size: 3rem;
    letter-spacing: 10px;
}

.sub-title-page
{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: 'leto';
    color: #f0f8ffc9;
}

#menu-icon
{
    margin-bottom: 1rem;
    height: 50px;
    transition: transform cubic-bezier(0.52, 0.22, 0.53, 1.85) 0.3s;
}

#menu-icon:hover
{
    transform: scale(1.5);
    cursor: pointer;
}

.col_page
{
    margin-bottom: 100px;
}

