<div class="py-2" style="text-align: center;">
    <img id="menu-icon" src="ressources/menu.png" alt="">
    <p>Back to menu</p>
</div>
<h3>Développement d'applications</h3>
<div class="row pb-5">
    <div class="col-md-6 my-2">
        <p class="sub-title-page my-4">Technique</p>
        <p>Développeur sur une multitude de langages tel que <strong>PHP, HTML, CSS, JAVASCRIPT, MYSQL, PYTHON, C, C++</strong> avec l'experience permettant l'assimilation rapide d'un nouveau langange</p>
        <p>A l'aise sur les les systèmes d'exploitation principaux : Windows, Linux et Mac</p>
        <p>Conception de bases de données SQL via l'elaboration d'un MCD. Mise en place des fonctions de requetes vers la base de donnée</p>
        <p>Site mono page avec chargement des vues en Ajax</p>
        <p>Utilisation des Framwork Bootstrap et Jquery</p>
        <p>Intégration d'une maquette</p>
        <p>Site web responsive, utilisation de media query ou de bootstrap</p>
        <p class="sub-title-page my-4">Analyse et structuration</p>
        <p>Connaissance de l'architecture d'un code propre et maintenable. Utilisation des design pattern tel que MVC, Singleton, Factory... permettant la structuration du code</p>
        <p>Utilisation de la documentations des differentes technologies</p>
        <p>Mise en place de requètes vers un API et traitement des données de retours ou conception d'un API</p>
        <p>Création de diagrammes UML</p>

    </div>
    <div class="col-md-6">
        <div class="test mt-5">
        </div>
    </div>
</div>
