<div class="py-2" style="text-align: center;">
    <img id="menu-icon" src="ressources/menu.png" alt="">
    <p>Back to menu</p>
</div>
<h3>Conscience de sécurisation des données</h3>
<div class="row">
    <div class="col-md-6 mt-5 col_page">
        <p class="sub-title-page my-4">Securisation des données utilisateurs</p>
        <p>Hashage des mot de passes utilisateurs sur la base de données</p>
        <p>Cryptage des données sensibles</p>
        <p>Connaissance théorique du cryptage symétirque et asymétrique</p>
        <p class="sub-title-page my-4">Reflex de securités</p>
        <p>Prévention des Failles XSS, Upload, injection SQL</p>
        <p>Prevension des attaques de fishing</p>
    </div>
    <div class="col-md-6 mt-5 col_page">
        <img class="gear mt-5" src="ressources/settings.png" alt="">
    </div>
</div>
