<div class="py-2" style="text-align: center;">
    <img id="menu-icon" src="ressources/menu.png" alt="">
    <p>Back to menu</p>
</div>
<h3>Serveur et déploiement</h3>
<div class="row">
    <div class="col-md-6 mt-5 col_page">
        <p class="sub-title-page">Déploiement et hosting</p>
        <p>Edition d'un manuel de déploiement</p>
        <p>Utilisatation d'un serveur host</p>
        <p>Resevation d'un nom de domaine</p>
        <p>Obtention d'un certificat SSL</p>
        <p>Débogage</p>
        <p class="sub-title-page my-4">Serveur</p>
        <p>Installation complète d'un serveur web local sur Raspberry</p>
        <p>Installation serveur Apache</p>
        <p>Installation serveur SQL</p>
        <p>Installation serveur FTP</p>
        <p>Gestion d'un srveur DHCP</p>
    </div>
    <div class="col-md-6 mt-5 col_page">
        <div id="anim_container">
            <img id="serveur_img" src="ressources/serveur2.png" alt="">
            <div id="wire"><span id="wire_signal"></span></div>
            <img id="serveur_img" src="ressources/web.png" alt="">
        </div>
    </div>
</div>
