<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luc Perez</title>

    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">

    <!-- My CSS-->
    <link rel="stylesheet" href="css/style_general.css">
    <link rel="stylesheet" href="css/style_menu.css">
    <link rel="stylesheet" href="css/style_page.css">
    <link rel="stylesheet" href="css/style_profil.css">
    
    <link rel="stylesheet" href="css/style_page_reseau.css">
    <link rel="stylesheet" href="css/style_page_dev_app.css">
    <link rel="stylesheet" href="css/style_page_securite.css">
</head>
<body>
    <div class="container">
        <div class="header row">
            <div class="col-12">
                <div id="git" class="p-3">
                    <img id="git-logo" class="mr-2" src="ressources/github.png" alt="">
                    <a href="https://github.com/SweetTips" target="_blank">My GitHub</a>
                </div>
                <div id="codepen" class="p-3">
                    <img id="codepen-logo" class="mr-2" src="ressources/codepen.png" alt="">
                    <a href="https://codepen.io/lucprz64/pens/public" target="_blank">My CodePen</a>
                </div>
                <div id="email" class="p-3">
                    <img id="email-logo" class="mr-2" src="ressources/letter.png" alt="">
                    <a href="mailto:luc.perez.pro@gmail.com" target="_blank">luc.perez.pro@gmail.com</a>
                </div>
                <div class="title" href="#">
                    <span></span>
                    My work
                    <h4 id="sub-title">Edited by Luc Perez</h4>
                </div>
            </div>
        </div>
        <div id="menu" class="row justify-content-center">
                <div id="button-competences" class="col-4 onglet mr-1 active">Compétences</div>
                <div id="button-profil" class="col-4 onglet">Profil</div>
        </div>
        <div id="menu-container">
            <div id="menu-competences">
                <div class="row justify-content-around">
                    <div data="page_dev_app" class="col-lg-3 cat">
                        <p class="cat-title">Développement application</p>
                        <img src="ressources/devapp.png" alt="">
                    </div>
                    <div class="col-lg-3 cat">
                        <p class="cat-title">Compétences électronique</p>
                        <img src="ressources/ship.png" alt="">
                    </div>
                    <div class="col-lg-3 cat">
                        <p class="cat-title">Connaissances scientifiques</p>
                        <img src="ressources/atome.png" alt="">
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div data="page_reseau" class="col-lg-3 cat">
                        <p class="cat-title">Compétences Réseau</p>
                        <img src="ressources/serveur.png" alt="">
                    </div>
                    <div data="page_securite" class="col-lg-3 cat">
                        <p class="cat-title">Sécurité des données</p>
                        <img src="ressources/cadenas.png" alt="">
                    </div>
                    <div class="col-lg-3 cat">
                        <p class="cat-title">Outils utilisés</p>
                        <img src="ressources/logiciel.png" alt="">
                    </div>
                </div>
            </div>
            <div id="menu-profil">
                <div class="row justify-content-around">
                    <div data="page_presentation" class="col-lg-3 cat">
                        <p class="cat-title">Présentation et coordonnées</p>
                        <img src="ressources/user.png" alt="">
                    </div>
                    <div class="col-lg-3 cat">
                        <p class="cat-title">éxperiences</p>
                        <img src="ressources/case.png" alt="">
                    </div>
                    <div class="col-lg-3 cat">
                        <p class="cat-title">Diplômes</p>
                        <img src="ressources/diplome.png" alt="">
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div data="page_reseau" class="col-lg-3 cat">
                        <p class="cat-title">Hobby</p>
                        <img src="ressources/hobby.png" alt="">
                    </div>
                    <div data="page_securite" class="col-lg-3 cat">
                    </div>
                    <div class="col-lg-3 cat">
                    </div>
                </div>
            </div>
        </div>
        <!--Pages load with ajax request -->
        <div id="page"></div>
    </div>

    <script src="vendor/jquery-3.2.1.js"></script>
    <script src="js/animation.js"></script>
    <script src="js/ajax_page_request.js"></script>
</body>
</html>